using NOTION.Dominio.Entidades;

@Model.IEnumerable<LitaDeTarefas>

@{
    Layout = null;
}

<div class="responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Descricao</th>
                <th>Detalhes</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var lista in Model)
            {
                <tr>
                    <td>@lista.Descricao</td>
                    <td><a href ="#" class="btn btn-dark">Detalhes</a></td>
                </tr>
            }
        </tbody>
    </table>

</div>



